body {
    font-family: Arial, sans-serif;
    background: url('https://images.unsplash.com/photo-1617957718587-60a442884bee?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 20px;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table tr:nth-child(odd) {
    background-color: #82ff82; /* Verde claro */
}

table tr:nth-child(even) {
    background-color: #fff; /* Branco */
}
